<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="EventLogSource" value="Application"/>
    <add key="EventLogName" value="DeviceMessageServiceEventLog"/>
    <add key="topicHost" value="192.168.1.69" />
    <add key="topicName" value="jms/DeviceMessagingQueue"/>
    <add key="topicPort" value="7001"/>
    <add key="connectionFactoryName" value="jms/ConnectionFactory"/>
    <add key="DeviceMessagingIP" value="http://35.180.61.127"/>
  </appSettings>
</configuration>