<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DbName" value="atlantis"/>
    <add key="DbUsername" value="dev"/>
    <add key="DbPassword" value="password"/>
    <add key="DbPort" value="27017"/>
    <add key="DbHost" value="localhost"/>
    <add key="RawMetricsCollectionName" value="rawmetrics_dev"/>
  </appSettings>
</configuration>