<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="DbName" value="atlantis"/>
    <add key="DbCollection" value="rawmetrics"/>
    <add key="DbConnectionString" value="mongodb://localhost:27017/" />
    <add key="EventLogSource" value="MetricService"/>
    <add key="EventLogName" value="MetricServiceEventLog"/>
  </appSettings>
</configuration>