<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="UserDataContext" connectionString="metadata=res://*/UserDataEDM.csdl|res://*/UserDataEDM.ssdl|res://*/UserDataEDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS;initial catalog=AtlantisDev;persist security info=True;user id=AtlantisDbUser;password=password;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>