<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="UserDataContext" connectionString="metadata=res://*/UserDataEDM.csdl|res://*/UserDataEDM.ssdl|res://*/UserDataEDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-SO2MFOU\SQLEXPRESS;initial catalog=AtlantisUserData;persist security info=True;user id=AtlantisDb;password=pass;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>